.widget {
  .content {
    .image {
      height: 100%;
      width: 100%;
      overflow: hidden;

      img {
        border: none;
        transform-origin: center;
      }
    }
  }
}

.modal {
  .image-prefs {
    &.range {
      width: 10rem;
      float: left;
      margin-right: 8rem;
    }

    .w-16,
    input[type="range"] {
      width: 16rem;
    }

    .input-group-text {
      &.sm-input {
        min-width: 3.5rem;
      }

      &.lg-input {
        min-width: 8rem;
        max-width: 8rem;
      }
    }
  }

  .image-preview {
    width: 12rem;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    right: 1rem;
    top: 185px;
    border: 5px solid #dfdfdf;
    padding: 5px;

    img {
      width: 100%;
      display: none;
      transform-origin: center;
    }
  }
}
